$close-btn-size: 20px;

.Item {
  padding: var(--p-space-400) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: var(--p-border-width-025) solid
      var(--p-color-border-secondary);
  }
}

.Content {
  flex: 1 1 auto;
  padding: var(--p-space-100);
  max-width: calc(100% - $close-btn-size);
  overflow: hidden;
}

.Actions {
  flex: 0 0 $close-btn-size;
  height: $close-btn-size;
}
