$close-btn-size: 20px;

.Item {
  padding: var(--p-space-300);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    box-shadow: 0 var(--p-border-width-025) 0 var(--p-color-border-secondary);
    margin-bottom: var(--p-border-width-025);
  }
}

.Content {
  flex: 1 1 auto;
  max-width: calc(100% - $close-btn-size);
  overflow: hidden;
}

.Actions {
  flex: 0 0 $close-btn-size;
  height: $close-btn-size;
}
